* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 100%;
    scroll-behavior: smooth;
}

.nav {
    position: fixed;
    z-index: 10;
    right: 2em;
    top: 1em;
}

ul li {
    display: inline-block;
    list-style-type: none;
    border-radius: 50%;
    background-color: white;
    width: 2em;
    height: 2em;
    line-height: 2em;
    text-align: center;
    margin: 1em;
}

a {
    display: block;
    text-decoration: none;
    color: black;
    font-weight: bolder;
    height: 100%;
    width: 100%;
}

ul li:hover {
    box-shadow: 0 8px 15px;
}

.vh {
    width: 100%;
    height: 100vh;
    position: relative;
}


  
.container-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    font-size: 2.5em;
    text-align: center;
    color: yellow;
}

#bottom-text{
    color: green;
}

.scarpe {
    width: 100%;
}

.top {
    background-color: red;
}

.medium {
    background-color: green;
}

.bottom {
    background-color: yellow;
}