* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 100%;
}

.nav {
    position: fixed;
    z-index: 10;
    right: 0;
}

ul li {
    display: inline-block;
    list-style-type: none;
}

.vh {
    width: 100%;
    height: 100vh;
    position: relative;
}


  
.container-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    font-size: 4em;
    text-align: center;
    color: yellow;
}

#bottom-text{
    color: green;
}

.scarpe {
    width: 100%;
}

.top {
    background-color: red;
}

.medium {
    background-color: green;
}

.bottom {
    background-color: yellow;
}