* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 100%;
}


.container {
    background-color: red;
    height: 100vh;
    width: 100%;
    position: relative;
}

.scarpe {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}